@font-face {
    font-family: "PT Sans Narrow";
    src: url("/fonts/PTSansNarrow-Bold") format("ttf");
    font-weight: normal;
}
@font-face {
    font-family: "PT Sans Narrow";
    src: url("/fonts/PTSansNarrow-Regular") format("ttf");
    font-weight: bold;
}