// Colors
$color-main: #ccc;
$color-second: #999;
$color-brand: #13aff0;
$color-feature: #00B4CC;

// Text-colors
$text-color-main: #000;
$text-color-second: #ccc;
$text-color-feature: red;
$text-color-brand: #fff;
$text-color-link: #000;


// Margins
$margin-base: 1rem;
$margin-second: 0.5rem;

// Paddings
$padding-base: 1rem;
$padding-second: 0.5rem;

// Sizes
$input-height: 2.5rem;

$border-radius: 5px;

// Fonts
$base-font-size: 16px;
$heading-font-size: 24px;
$cover-heading-font-size: 20px;